@{
    ViewData["Title"] = "Buscar Cuenta";
}

<h1>Buscar Cuenta</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="BuscarCuenta">
            <div class="form-group">
                <label for="cuentaId">Número de Cuenta</label>
                <input type="text" class="form-control" id="cuentaId" name="cuentaId" required />
            </div>
            <div class="form-group">
                <input type="submit" value="Buscar Cuenta" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>
